.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 5px 10px;
}

.wrapper {
    margin-top: 3rem;
}

.outerBlock {
    margin: 3rem 0;
}

.countryImg {
    height: auto;
    width: 100%;
    display: block;
}

.DetailList {
    list-style-type: none;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    height: 125px;
    padding: 0;
    -webkit-column-fill: auto;
    -moz-column-fill: auto;
    column-fill: auto;
    margin-bottom: 1em;
    line-height: 1.5rem;
}