body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* classes for light and dark mode switch */
.Light {
  color: #111517;
  background: #fff;
}
.LightBox {
  color: #111517;
  background: #fff;
  box-shadow: 0 3px 1px -2px #ebe5e5, 0 2px 2px 0 #ebe5e5, 0 1px 5px 0 #ebe5e5;
}

.Dark {
  color: #fff;
  background: #202c37;
}
.DarkBox {
  color: #fff;
  background: #202c37;
  box-shadow: 0 3px 1px -2px #2c3235, 0 2px 2px 0 #2c3235, 0 1px 5px 0 #2c3235;
}
/* classes for light and dark mode switch */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.container {
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 320px) {
  .container {
    max-width: 300px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

a {
  text-decoration:none; 
}
